<%- include('../layouts/admin-header.ejs') %>



<div class="dash-content"> 
    <br>
    <h2 class="mt-5 h1">All Orders</h2>

    <div class="table-responsive-sm">
        <% if (count > 0) { %>
        <table id="example" class="table data-table align-middle" style="width:100%">
            <thead>
                <tr> 
                    <th>Date</th>
                    <th>User</th>
                    <th>Order</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% orders.forEach(function(order) { %>
                <tr>
                    <td><%= new Date(order.date).toDateString() %></td>
                    <td><%= order.userId ? order.userId.name : 'N/A' %></td>
                    <!-- <td>
                        <% order.orderDetails.forEach(function(item) { %>
                        <img width="100px" height="100px" src="/public/images/product-img/<%= item.product.image %>" alt=""> <br>
                        <%= item.product.title %> <br>
                        <% }) %>
                    </td> -->
                    <td>
                        <% order.orderDetails.forEach(function(item) { %>
                            <% if (item.product) { %>
                                <img width="100px" height="100px" src="/public/images/product-img/<%= item.product.image %>" alt=""> <br>
                                <%= item.product.title %> <br>
                            <% } else { %>
                                <!-- Handle the case where item.product is null or undefined -->
                                <p>Product not found</p>
                            <% } %>
                        <% }) %>
                    </td>
                    <td><%= order.status %></td>
                    <td>
                        <% if (order.status !== 'cancelled') { %>
                        <select id="status-select-<%= order._id %>" name="status" class="btn" onchange="changeStatus('<%= order._id %>')">
                            <% status.forEach(function(s) { %>
                            <option <% if (status.indexOf(s) < status.indexOf(order.status)) { %> disabled <% } %>  value="<%= s %>" <% if(order.status == s){ %> selected <%}%> > <%= s %></option>
                            <% }) %>
                        </select>
                        <!-- <select name="status" class="btn" onchange="changeStatus(this)" data-order-id="<%= order._id %>">
                            <% status.forEach(function(s) { %>
                            <option <% if (status.indexOf(s) < status.indexOf(order.status)) { %> disabled <% } %>  value="<%= s %>" <% if(order.status == s){ %> selected <%}%> > <%= s %></option>
                            <% }) %>
                        </select> -->
                        <% } %>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <% } else { %>
        <br><br>
        <h3 class="text-center">No Orders Available</h3>
        <% } %>
    </div>
</div>




<%- include('../layouts/admin-footer.ejs') %>